[Unit]
Description=azteccli
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
User=aztecd
Group=aztecd
PermissionsStartOnly=true
ExecStart=/usr/bin/azteccli rest-server --laddr {{aztecCLI_ADDRESS}}
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target

